---

import BaseLayout from '../layouts/BaseLayout.astro';

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Projects";

---

<BaseLayout pageTitle={pageTitle}>
  <section class="card-group">
    {allProjects.map((project) => 
      <a class="link-wrapper" href={project.url}>
        <div class="card">
          <div class="card-img">
            <img src={project.frontmatter.image.url} alt={project.frontmatter.image.alt} />
          </div>
          <div class="card-body">
            <p class="card-title">{project.frontmatter.projectName}</p>
            <span class="cta">View project <span class="arrow-right">→</span></span>
          </div>
        </div>
      </a>
    )}
  </section>
</BaseLayout>

<style>
  .card .arrow-right {
    display: inline-block;
    margin-left: 3px;
    transition: transform .3s ease;
  }

  .card:hover .arrow-right {
    transform: translate(5px,0);
  }

  .card-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 4rem;
    padding: 0;
  }

  .link-wrapper {
    display: block;
    text-decoration: none;
    overflow: hidden;
  }

/* Card  */
  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  .card-img {
    flex: 0 1 60%;
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 40%;
    padding: 0 1rem;
  }

  .card-title {
    margin: 2rem 0 1rem;
    font-size: x-large;
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    .card {
      flex-flow: row nowrap;
      gap: 2rem;
    }

    .card-body {
      padding: 0;
    }

    .card-title {
      margin: 2rem 0 1rem;
      font-size: xx-large;
    }

    .card img {
      transition: transform .3s ease;
    }

    .card:hover img {
      transform: scale(1.02);
    }

    .card:hover .card-title,
    .card:hover .cta {
      text-decoration: underline dotted .1rem;
      text-underline-offset: .4rem;
    }
  }
</style>
