---

import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

const projects = await Astro.glob('../pages/projects/**/*.{md,mdx}');
const pageTitle = "Projects";

---

<MainLayout pageTitle={pageTitle}>
  <div class="container">
    <section class="projects">
      <hgroup>
        <h2>Proyectos Destacados</h2>
        <p></p>
      </hgroup>
      <div class="card-group">
      {projects.map((project) => 
        <a href={project.url}>
          <div class="card">
            <div class="card-media">
              <img src={project.cover.src} alt={project.cover.alt} />
            </div>
            <div class="card-content">
              <small class="pretitle">{project.frontmatter.projectClient}</small>
              <h3 class="title">{project.frontmatter.projectName}</h3>
              <span class="cta">Ver proyecto <i class="icon arrow-right"></i></span>
            </div>
          </div>
        </a>
      )}
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .projects hgroup {
    margin-bottom: calc(var(--pico-spacing) * 2.5);
  }

/* Card group */
  .card-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
  }

  .card-group > a {
    display: block;
    margin-bottom: 4rem;
    text-decoration: none;
    overflow: hidden;
  }

  .card-group > a:nth-last-child(1) {
    margin-bottom: 0;
  }

/* Card  */
  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  .card-media {
    flex: 0 1 60%;
    overflow: hidden;
  }

  .card-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 40%;
    padding: calc(var(--pico-spacing) * 1.5);
  }

  .card-content .pretitle {
    margin: 0 0 .5rem;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  .card-content .title {
    margin: 0 0 .5rem;
  }

  @media screen and (min-width: 768px) {
    .card {
      flex-flow: row nowrap;
    }

    .card-content {
      padding: calc(var(--pico-spacing) * 2);
    }

    .card img {
      transition: transform .3s ease;
    }

    .card:hover img {
      transform: scale(1.02);
    }

    .card-content .title {
      margin: 0 0 1rem;
    }

    .card:hover .title,
    .card:hover .cta {
      text-decoration: underline var(--border-deco-style) .1rem;
      text-underline-offset: .4rem;
    }
  }
</style>
