---

import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

const projects = await Astro.glob('../pages/projects/**/*.{md,mdx}');
const pageTitle = "Projects";

---

<MainLayout pageTitle={pageTitle}>
  <div class="container">
    <section class="projects">
      <hgroup>
        <h2>Featured Projects</h2>
        <p>Most of these works are side projects; fun stuff based on my interests.</p>
      </hgroup>
      <div class="card-group">
      {projects.map((project) => 
        <a href={project.url}>
          <div class="card">
            <div class="card-img">
              <img src={project.cover.src} alt={project.cover.alt} />
            </div>
            <div class="card-body">
              <h3 class="card-title">{project.frontmatter.projectName}</h3>
              <span class="cta">View project <i class="icon arrow-right"></i></span>
            </div>
          </div>
        </a>
      )}
      </div>
    </section>
  </div>
  <Footer/>
</MainLayout>

<style>
/* Card group */
  .card-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
  }

  .card-group > a {
    display: block;
    margin-bottom: 4rem;
    text-decoration: none;
    overflow: hidden;
  }

  .card-group > a:nth-last-child(1) {
    margin-bottom: 0;
  }

/* Card  */
  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  .card-img {
    flex: 0 1 60%;
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 40%;
    padding: 0 1rem;
  }

  .card-title {
    margin: 2rem 0 1rem;
  }

  @media screen and (min-width: 768px) {
    .card {
      flex-flow: row nowrap;
      gap: 2rem;
    }

    .card-body {
      padding: 0;
    }

    .card-title {
      margin: 2rem 0 1rem;
    }

    .card img {
      transition: transform .3s ease;
    }

    .card:hover img {
      transform: scale(1.02);
    }

    .card:hover .card-title,
    .card:hover .cta {
      text-decoration: underline var(--border-deco-style) .1rem;
      text-underline-offset: .4rem;
    }
  }
</style>
