---

import BaseLayout from '../layouts/BaseLayout.astro';

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Projects";

---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <ul>
    {allProjects.map((project) => 
      <li>
        <a href={project.url}>
          <p>{project.frontmatter.projectName}</p>
          <img src={project.frontmatter.image.url} alt={project.frontmatter.image.alt} style="max-width:50vw;">
        </a>
      </li>
    )}
  </ul>
</BaseLayout>
