---

import BaseLayout from '../layouts/MainLayout.astro';

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Projects";

---

<BaseLayout pageTitle={pageTitle}>
  <section class="card-group">
    <hgroup>
      <h2>Featured Projects</h2>
      <p>Most of these works are side projects; fun stuff based on my interests.</p>
    </hgroup>
    {allProjects.map((project) => 
      <a class="link-wrapper" href={project.url}>
        <div class="card">
          <div class="card-img">
            <img src={project.frontmatter.image.url} alt={project.frontmatter.image.alt} />
          </div>
          <div class="card-body">
            <p class="card-title">{project.frontmatter.projectName}</p>
            <span class="cta">View project <i class="icon arrow-right"></i></span>
          </div>
        </div>
      </a>
    )}
    <footer>
      <a class="back-to-top" href="#">Back to Top<i class="icon arrow-up"></i></a>
    </footer>
  </section>
</BaseLayout>

<style>
  .card-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
  }

  .link-wrapper {
    display: block;
    margin-bottom: 4rem;
    text-decoration: none;
    overflow: hidden;
  }

/* Card  */
  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  .card-img {
    flex: 0 1 60%;
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 40%;
    padding: 0 1rem;
  }

  .card-title {
    margin: 2rem 0 1rem;
    font-size: x-large;
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    .card {
      flex-flow: row nowrap;
      gap: 2rem;
    }

    .card-body {
      padding: 0;
    }

    .card-title {
      margin: 2rem 0 1rem;
      font-size: xx-large;
    }

    .card img {
      transition: transform .3s ease;
    }

    .card:hover img {
      transform: scale(1.02);
    }

    .card:hover .card-title,
    .card:hover .cta {
      text-decoration: underline dotted .1rem;
      text-underline-offset: .4rem;
    }
  }
</style>
