---

import MainLayout from './MainLayout.astro';
import '../styles/project.css';

const { frontmatter } = Astro.props;

---

<MainLayout pageTitle={frontmatter.projectName}>
  <section class="project-cover">
    <img src={frontmatter.image.src} alt={frontmatter.image.alt}>
  </section>
  <section class="project-head">
    <div><h2>{frontmatter.projectName}</h2></div>
    <div>
      <p>{frontmatter.projectDescription}</p>
      <p>{frontmatter.projectPurpose}</p>
    </div>
  </section>
  <section class="project-body">
    <slot />
    <footer>
      <a class="back-to-top" href="#">Back to Top<i class="icon arrow-up"></i></a>
    </footer>
  </section>
</MainLayout>

<style>
  .project-head,
  .project-body {
    max-width: 1200px;
  }

  .project-head {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    margin: 2rem auto;
  }

  .project-body {
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .project-head {
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 2rem;
    }

    .project-head div:first-child {
      flex: 1 0 50%;
    }
  }
</style>
