---

import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';
import '../styles/project.css';

const { projectFrontmatter, projectCover } = Astro.props;

---

<MainLayout pageTitle={projectFrontmatter.projectName}>
  <div class="container">
    <section class="project-cover">
      <img src={projectCover.src} alt={projectCover.alt} />
    </section>
    <section class="project-head">
      <h1 class="project-title">{projectFrontmatter.projectName}</h1>
      <div class="project-details">
        <dl>
          <dt>Sobre el proyecto</dt>
          <dd>{projectFrontmatter.projectDescription}</dd>
        </dl>
        <dl>
          <dt>Objetivos</dt>
          <dd>{projectFrontmatter.projectPurpose}</dd>
        </dl>
      </div>
    </section>
    <section class="project-body">
      <slot />
    </section>
  </div>
</MainLayout>

<style>
  .project-head,
  .project-body {
    max-width: 1200px;
  }

  .project-head {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    padding: 2rem 0;
    border-bottom: var(--border-deco-width) var(--border-deco-style) var(--border-deco-color);
    margin: 0 auto;
  }

  .project-body {
    padding: 2rem 0;
    margin: 0 auto;
  }

  .project-title {
    max-width: 45rem;
    margin-bottom: calc(var(--pico-spacing) * 2);
    font-size: calc(var(--pico-font-size) * 1.5);
  }

  .project-details {
    display: flex;
    flex-flow: column nowrap;
  }

  .project-details dl {
    margin-bottom: calc(var(--pico-spacing) * 2);
  }

  .project-details dl:last-child {
    margin-bottom: 0;
  }

  .project-details dt {
    --pico-font-size: 1rem;
    margin-bottom: calc(var(--pico-spacing) / 2);
    color: var(--neutral-700);
    font-size: var(--pico-font-size);
    font-weight: 500;
    text-transform: uppercase;
  }

  .project-details dd {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    .project-details {
      flex-flow: row nowrap;
      justify-content: space-evenly;
      gap: 2.5rem;
    }

    .project-details dl {
      flex: 0 1 50%;
      margin-bottom: 0;
    }
  }
</style>
