---

import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';
import '../styles/project.css';

const { projectFrontmatter, projectCover } = Astro.props;

---

<MainLayout pageTitle={projectFrontmatter.projectName}>
  <div class="container">
    <section class="project-cover">
      <img src={projectCover.src} alt={projectCover.alt} />
    </section>
    <section class="project-head">
      <h2 class="project-title">{projectFrontmatter.projectName}</h2>
      <div class="project-details">
        <div>
          <h6>Sobre el proyecto</h6>
          <p>{projectFrontmatter.projectDescription}</p>
        </div>
        <div>
          <h6>Objetivos</h6>
          <p>{projectFrontmatter.projectPurpose}</p>
        </div>
      </div>
    </section>
    <section class="project-body">
      <slot />
    </section>
  </div>
  <Footer/>
</MainLayout>

<style>
  .project-head,
  .project-body {
    max-width: 1200px;
  }

  .project-head {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    padding: 2rem 0;
    margin: 0 auto;
    border-bottom: var(--border-deco-width) var(--border-deco-style) var(--border-deco-color);
  }

  .project-body {
    padding: 2rem 0;
    margin: 0 auto;
  }

  .project-title {
    margin-bottom: calc(var(--pico-spacing) * 3);
    font-size: calc(var(--pico-font-size) * 1.5);
  }

  .project-details {
    display: flex;
    flex-flow: column nowrap;
  }

  @media screen and (min-width: 768px) {
    .project-details {
      flex-flow: row nowrap;
      justify-content: space-evenly;
      gap: 2rem;
    }

    .project-details > div {
      flex: 0 1 50%;
    }
  }
</style>
